body {
  color: hsl(212, 15%, 23%);
}

h1, h2, h3, h4 {
  font-family:
    'Quicksand',
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  display: block;
  font-weight: 300 !important;
  color: hsl(211, 28%, 29%);
  letter-spacing: 1px;
}

p {
  margin: 5px 0;
}

button {
  background: hsl(187, 66%, 30%);
  transition: background ease 0.25s;
  border-radius: 5px;
  display: inline-block;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:disabled {
  background: hsl(181, 37%, 55%);
  cursor: auto;
}

button.continue {
  padding: 0.2rem 0.5rem;
}

button:hover:enabled {
  background: hsl(181, 55%, 33%);
}

button.outlined {
  color: hsl(187, 66%, 30%);
  background: hsl(0, 0%, 100%);
  transition: background ease 0.5s, color ease 0.5s;
}

button.outlined:hover {
  color: hsl(181, 55%, 33%);
  background: hsl(0, 0%, 95%);
}

button.outlined:disabled {
  color: hsl(181, 37%, 55%);
  background: hsl(0, 0%, 95%);
}

button.icon-only {
  padding: 0.75rem;
  padding-bottom: 0.4rem;
  border-radius: 50%;
}

button.complete {
  color: hsl(135, 76%, 31%);
  margin-right: 5px;
}

button.complete:hover {
  color: hsl(135, 75%, 40%);
}

button.delete {
  color: hsl(0, 75%, 49%);
  margin-right: 5px;
}

button.delete:hover {
  color: hsl(0, 75%, 60%);
}

.label {
  margin: 10px 0;
  line-height: 1.6;
}

.label span {
  font-size: 14px;
  padding: 8px 12px;
  border-radius: 1000px;
  background: hsl(357, 93%, 43%);
  color: white;
  font-weight: bold;
}

label {
  margin: 10px 0 5px 0;
  font-size: 15px;
}

select {
  font-size: 1em;
}

input, select, textarea {
  padding: 5px 10px;
  border-radius: 10px;
  border: 0.5px solid hsl(0, 0%, 20%, 0.4)
}

fieldset {
  border-radius: 10px;
  border: 0.5px solid hsl(0, 0%, 20%, 0.4)
}
